.account-info{
    padding: 7%;
    text-align: center;
    background-color: #e7dec8;
}

.account-header{
    /* margin: 0% 2%; */
    padding: 0% 2%;
}

.account-img{
    width: 90%;
    margin: 10% 12%;
}

.update-account{
    text-align: left;
    padding: 4% 7%;
}

.info-group{
    padding: 1%;
}
.label-text{
    font-weight: bold;
    margin: 2%;
    
}

.update-input{
    padding: 0% 10%;
}
.update-btn{
    padding: 4% 2%;
    text-align: left;
}